* {
  box-sizing: border-box;
  background: #333;
  font-family: 'Ubuntu', sans-serif;

}

*:focus {
  box-shadow: none !important;
  outline: none !important;
}

.app {
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;

}

.app h2 {
  color: #fff;
}

.app .form {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  padding: 12px;
  background-color: #444;
}

.app .form textarea {
  border: 1px solid #444;
  min-height: 70px;
  border-radius: 10px;
  color: #fff;
  max-width: 100%;
  min-width: 100%;
  padding: 10px 5px;
}

.app .form button {
  margin-top: 10px;
  color: #fff;
  border: 1px solid #444;
  padding: 10px;
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.app .form button:hover {
  transform: scale(1.06);
}

.app .result p {
  color: #fff;
  background-color: #444;
  padding: 10px;
}