* {
  box-sizing: border-box;
  background: #333;
  font-family: "Ubuntu", sans-serif;
}

*:focus {
  box-shadow: none !important;
  outline: none !important;
}

.app {
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
}

.app h2 {
  color: #fff;
}

.app .form {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  padding: 12px;
  background-color: #444;
}

.app .form textarea {
  border: 1px solid #444;
  min-height: 70px;
  border-radius: 5px;
  color: #fff;
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
}

.app .form button {
  margin-top: 5px;
  color: #fff;
  border: 1px solid #444;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.app .form button:hover {
  background: #222;
}

.app .result textarea {
  width: 100%;
  margin-top: 7px;
  min-height: 50px !important;
  max-width: 100%;
  border: none;
  color: #fff;
  background-color: #444;
  padding: 10px;
}

.app .result .btnCopy {
  margin-top: 4px;
  color: #fff;
  background: #444;
  border: 1px solid #444;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.app .result .btnCopy:hover {
  background: #222;
  border-color: #222;
}
